---
import Banner from "../../components/Banner";
import Footer from "../../components/Footer";
import Navbar from "../../components/Navbar/Navbar";
import ShopContainer from "../../components/Shop/ShopContainer";
import Layout from "../../layouts/Layout.astro";
import { getMenuSections, getSection } from "../../lib/sanity";

export const prerender = true;

export async function getStaticPaths() {
  const sections = await getMenuSections();

  return sections.map(section => {
    return {
      params: { slug: section.slugTitle },
      props: { sections },
    };
  });
}

const { slug } = Astro.params;
const { sections } = Astro.props;

const data = await getSection(slug || "hot-coffees");
console.log(sections);
---

<Layout
  generator="Bean Street v1.0.0"
  title="Bean Street - Shop"
  description="Choose from our wide selection of coffee blends, hot chocolate, and pastries."
  altImage="Bean Street Logo"
>
  <Navbar client:load />
  <Banner client:load />
  <main class="flex w-full justify-center">
    <ShopContainer
      client:load
      menu={data}
      sections={sections}
      mainTitle={data[0].section.title}
      currentSlugTitle={data[0].section.slugTitle}
    />
  </main>
  <Footer />
</Layout>
